//====================================================|
// THUMB


//--------------------------| Variables

$border-size: 1px;


//--------------------------| Root

.root {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0;
  background-size: ($border-size * 1.5) 100%; // it is intentionally multiplied to 1.5 in order to prevent visual glitch on Google Chrome
  border-top-style: solid;
  border-top-width: $border-size;

  :not(a) > & {
    background-image: map-get($roles-gradients, 'thumb');
    border-top-color: map-get($swatch-colors, 'dusty-gray');
  }
}


//--------------------------| Picture

.pic {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 3px;
  width: calc(100% - 6px);
  height: 100%;
  overflow: hidden;
}


//--------------------------| Image

.image {
  position: absolute;
  left: 50%;
  display: block;
  width: auto;
  height: 100%;
  border: map-get($roles-borders-rectangles, 'transparent');
  transform: translateX(-50%);
}


//--------------------------| Shapes

.landscape {
  $ratio: map-get($roles-ratios, 'landscape');

  padding-top: 100% / $ratio;
}

.portrait {
  $ratio: map-get($roles-ratios, 'portrait');

  padding-top: 100% / $ratio;
}

.avatar {
  $ratio: map-get($roles-ratios, 'avatar');

  padding-top: 100% / $ratio;
}
