//====================================================|
// COVER IMAGE


//--------------------------| Root

.root {
  $ratio: map-get($roles-ratios, 'cover');

  position: relative;
  padding-top: 100% / $ratio;
}


//--------------------------| Image

.pic {
  @include dimensions-square(100%);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}


//--------------------------| Image

.image {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
}
