//====================================================|
// HOTLINE


//--------------------------| Variables

//


//--------------------------| Root

.root {
  @include side-spacer();
  @include padding-v(0.3rem);

  color: map-get($roles-col-texts, 'negative');
  background-color: map-get($roles-col-backgrounds, 'hotline');

  > span {
    display: inline-block;
    white-space: nowrap;
  }

  strong {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
  }

  h1 {
    margin: 0;
    line-height: map-get($swatch-line-heights, '130%');
  }
}
