//====================================================|
// ROLES: SIZES


//--------------------------|

$roles-size-header-icons: 25px;
$roles-size-header-logo: 158px;
$roles-size-footer-logo: 120px;
$roles-size-topline: 8px;
$roles-size-divider: 210px;
$roles-size-text: 680px;

$roles-size-footer-spotlight: (
  'width': 250px,
  'height': 100px
);
